extends layout
block content
    .text-about
        h1#h1-about-us About Us
        p Who we are?
        p Do you have an important event and    stucked without a makeup artist? That&apos;s why we&apos;re here for.
        p FYMA is a search makeup platform for find and book a makeup artist without any effort! You can search by location,style ,and even by date.

