extends layout

block content
    #showcase
      h1 Welcome To FYMA!
    section.container
      .content
        h2 Want to start?
      a.btn(href='/login') Login
      a.btn(href='/signup') Create Account
