doctype html
html
    head
        title makeup Artist - Not found
        link(rel="stylesheet", href="style.css")
    body
        br
        br
        br
        .not-found
            #not-found-text
                h1
                    br
                    br
                    | Sorry,
                    br
                    br
                    br
                    | we didn't find the Make Up Artist that Matches your Search
                a.bottomLine(href="/search")  Try again
