extends layout

block content
    .container-search
        .header-search
          h1 Find Your Make-Up Artist
        form.form-search(action='/search' method='POST')
          input#lat.wide-input(hidden='' ,type='text', name='lat', value='')
          input#lon.wide-input(hidden='' ,type='text', name='lon', value='')
          .Location-search
            label
            input#city.wide-input(type='text', placeholder='Enter a city', name='city')
            input#checkbox-id(type='checkbox' onclick='useMyLocation() ; cityOrGeoLocation() ' name='checkbox-id')
            |  Use my location
            br
            br
          label
            b
              u Pick a Style:
          br
          br
          .style-search
            input#radio1(type='radio', name='options',  value='Brides')
            |  Brides
            input#radio2(type='radio', name='options', value='Purim')
            |  Purim
            input#radio3(type='radio', name='options', value='beauty', checked)
            |  beauty Make up
          br
          br
          .makeUpDate
            label(for='date')
              b select a date:
            input#date(type='date', name='date', required ='')
          br
          br
          input.search-button(type='submit', name='submit', value='Search')
